################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/ConsoleApp1/.vs/ConsoleApp1
/ConsoleApp1/ConsoleApp1/obj
